@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}
a.uso {
    font-weight: bold;
}
.boton-contacto{
    background-color: white;
    color: rgb(78, 126, 7);
    border: 2px solid;
    border-radius: 4em;
    font-weight: bolder;
    font-size: 0.1;
    padding: .2em 0.1em;
    display:inline-block
}

header a{
    padding: 1em;

}
/* Menu */

.header{
    width:100%;
    background-color:white
    padding: 1em;
  
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    color:white;
  }
  .header .h1{
   /* background-color: aqua; */
  }
  .header .a{}
  
  .header .button{
    background-color: #0ba360;
    display: none;
  }
  .header .svg{
    width:2em;
    height:2em;
    fill:white;
  }
  .header .nav{
    background-color: white;  
  }
  .header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
  }
  .header .li{
    margin: 0 .5em;
  }

  

  @media screen and (max-width:480px){
    .header .button{
      display: block;
      cursor: pointer;
    }
    .header .nav{
      width:100%;
      /*display: none; */
      height: 0;
      pointer-events: none;
      overflow: hidden;
      transition: all 2s ease;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .header .nav.activo{
      /*display: block; */
      height: 50vh;
      pointer-events: auto;
    }
    .header .ul{
      flex-direction: column;
    }
    .header .li{
      margin: 1em 0;
      
    }
  
  }

/* a continuación formato de slide */
.slider-frame {
    width: 95%;
    height: auto;
    margin: 100px auto 0;
    overflow: hidden;
}
    
.slider-frame ul {
    display: flex;
    padding: 0;
    width: 250%;

    animation: slide 20s infinite alternate linear;
}

.slider-frame li {
    width: 50%;
    list-style: none;
    
}
.slider-frame img {
    width: 100%;
}

@keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* configuración media query */

@media only screen and (max-width: 900px) {
    header div.menu, header div.menu ul, header div.menu ul li {
        display: inline;
    }
    header div.menu nav {
        width: 100%;
        display: inline;
    }
}

    header div.contenedor nav .boton-contacto:hover {
        background: none;
        color: white;
    }

    footer{
      text-align: center;
      background-color: rgb(121, 245, 121)
      
       
    }  



